@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('zdspgc4.jpg') no-repeat;
    background-size:  40%;
    background-position: center;
}

.container {
    background: transparent;
    padding: 20px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 95%;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.registration-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form input,
.registration-form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #45a049;
}

