<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="chng-pss.css">
</head>
<body>
    <div class="change-password-container">
        <h2>Change Password</h2>
        <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
            <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" placeholder="enter current password" required [(ngModel)]="currentPassword" name="currentPassword" #currentPasswordInput="ngModel">
                <div *ngIf="currentPasswordInput.invalid && currentPasswordInput.touched" class="error-message">

                </div>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" placeholder="enter new password" required [(ngModel)]="newPassword" name="newPassword" #newPasswordInput="ngModel">
                <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" class="error-message">
                </div>

            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" placeholder="confirm password" required [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel">
                <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" class="error-message">

                </div>
                <div *ngIf="newPassword !== confirmPassword && confirmPasswordInput.touched" class="error-message">

                </div>
            </div>
            <button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
        </form>
    </div>
</body>
</html>
