$primary-color: #3498db;
$secondary-color: #2c3e50;
$font-stack: Arial, sans-serif;

body {
  font-family: $font-stack;
  color: $secondary-color;
  background-color: $primary-color;
}

.container {
  width: 89%;
  margin: auto;
}

header {
  background-color: $secondary-color;
  color: white;
  padding: 26px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;

  li {
    display: inline;
    margin: 0 20px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

footer {
  background-color: $secondary-color;
  color: rgb(11, 192, 11);
  text-align: center;
  padding: 13px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
